extend layout

block content
  ul
    li
      a(href='/tl', class='but') Go To Torrentleech Zassysator
    li
      a(href='/basen', class='but') Basen
    li
      a(href='/browser/robot', class='but') Start Gmail Account Creator
    li  
      a(href='/review/add-opinions/', class='but') Review