doctype
html
  head
    title Bolo Node Server
    link(rel="stylesheet", type="text/css", href="stylesheet/basen.css")
    script(type='text/javascript', src='javascripts/jquery-3.3.1.min.js')
    block extra
  body
    header
      block content
    footer