extend ../layout.jade

block content
    h2 Super Zajebisty Basen-Script
    div(id='main')
        table
            thead
                th Data
                th Godzina
                th Full Name
                th Godzina Wejscia
                th Godzina Wyjscia
                th Forma Platnosci
            tbody
                tr
                    td 2018-01-01
                    td 15:50;00
                    td John Ramo
                    td 16:00:00
                    td 17;30;00
                    td Paypal
                tr
                    td TEST
                    td ss
                    td aa
                    td bb
                    td aa
                    td Karta Kredytowa
    div(id='kasa') Gotowka w Kasie
    ul  
        li
            a(href='/', class='but') Home